.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 40px;
}
.header img{
    width: 50px;
    height: 50px;
}
.navbar ul{
    display: flex;
    gap: 10px;
}
.header h1{
    font-size: 1rem;
    font-weight: 700;
}
.navbar ul li{
    font-size: 0.9rem;
}
.navbar ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #2f313a7b;
    border-radius: 10px;
    padding: 10px;
}
.navbar ul li a,.header a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:visited{
    color: white;
}
.navbar ul li{
    padding: 10px;
    list-style: none;
}
