@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
background: linear-gradient(160deg, #000000,#000000,#0A0929,#100e3f,#19165E,#292675,#4F4D90,#8a83a3,#9F9F9F);

}
::-webkit-scrollbar {
    display: none;
  }